/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2018, 12:44:27 PM
    Author     : will
*/
.progress *{
    -fx-background-insets: 0;
    -fx-padding: 0.20em;
}

.progress{
    -fx-control-inner-background: rgba(255,255,255,0.0);
    -fx-background-color: rgba(255,255,255,0.2);
}

#prgPV{
    -fx-accent: red;
}

#prgPM{
    -fx-accent: rgba(0,220,255,1.0)
}

#prgTempo{
        -fx-accent: yellow;
}